@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body{
    margin: 0%;
    font-family: 'Montserrat Alternates';
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 100vh;
    background: url(../img/bg-header.png);
    background-size: cover;
}

.container{
    width: 1200px;
    margin: auto;
    padding-top: 50px;
}

nav{
    display: flex;
    justify-content:space-between;
align-items: center;
}

#menu ul li{
    display: inline-block;
    margin: 0 25px;
}

#menu ul li a {
color: #ffffff;
font-size: 25px;
text-decoration: none;
border-bottom: 5px solid transparent ;
transition: .4s;

}
#menu ul li a :hover{
    color: yellowgreen;
    border-bottom: 5px solid #ffffff;
    
} 

#hero {
    text-align: center;
    padding-top: 100px;
}
#hero h1 {
    color: #e8f00c;
font-size: 50px;
margin: 0%;
transition: none;
}

#hero h3 {
    color: #ffffff;
font-size: 25px;
margin: 0%;
transition: none;
}

#hero button {
background-color:#e8f00c ;
font-size: 30px;
border-radius:  10px;
margin-top: 80px;
padding: 10px 15px;
border: none;
cursor: pointer;
transition: .4s;
}

/* INICIO SECCION PLANES */
#planes{
    background: #ffffff;
    width: 100%;
    position: relative;
    padding-top: 60px;
    padding-bottom: 120px;
    text-align: center;

}

#planes h2{
   font-size: 50px; 
}
#planes p{
    font-size: 22px;
    margin-bottom: 90px;
}

#planes .row{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#planes .row .item-planes{
    position: relative;
    transition: .4s;
}

#planes .row .item-planes img{
    transition: .4s;
    
}

#planes .row .item-planes:hover img{
    border-radius: 50%;
}

#planes .row .item-planes:hover h3{
    color: #ffffff;
}

#planes .row .item-planes:hover{
    box-shadow: 0 0px 9px 0px #e2dada;
}

#planes .row .item-planes h3{
    position: absolute;
    top: 90px;
    color: #e8f00c;
    left: 0;
    right: 0;
    font-size: 30px;
}
/* FIN SECCION PLANES */


/* INICIO SECCION DESTINOS */

#Destinos {
    background: url(../img/bg-destinos.png);
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 70px;
    text-align: center;  
    background-size: cover;
}

.container{
    width: 1200px;
    margin: auto;
    padding-top: 50px;
}


#Destinos h2{
   font-size: 40px; 
   color: #e8f00c;
}

#Destinos .row{
    display: flex;
    justify-content: space-around;
}

#Destinos .row .item-Destinos{
    position: relative;
    transition: .4s;
    padding-bottom: 100px;
}

#Destinos .row .item-Destinos img{
    transition: .4s;
    
}

#Destinos .row .item-Destinos:hover img{
    border-radius: 50%;
    
}

#Destinos .row .item-Destinos:hover h3{
    color: #ffffff;
}

#Destinos .row .item-Destinos:hover{
    box-shadow: 0 0px 9px 0px #e2dada;
}

#Destinos .row .item-Destinos h3{
    position: absolute;
    top: 250px;
    color: #e8f00c;
    left: 0;
    right: 0;
    font-size: 30px;
}

/* FIN SECCION DESTINOS */

/* INICIO SECCION CONTACTO */
#Contacto{
    background-color: #e8f00c;
    padding: 30px 0px 120px;
    text-align: center;

}

#Contacto h2 {
    font-size: 50px;

}

#Contacto p {
    font-size: 24px;
    margin-bottom: 60px;

}

#Contacto .row {
    margin-top: 25px;

}

#Contacto .row .campof {
    width: 300px;
    padding: 12px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid #999999;

}

#Contacto .row select{
    width: 320px !important;
    padding: 12px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid #999999;

}

#Contacto form button {
    padding: 8px 50px;
    font-size: 20px;
    margin-top: 50px;
    background: #898d0e;
    color: #e2dada;
    border-radius: 5px;
    border: transparent;
}

footer{
    background: #000000;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    padding: 40px 0;
}
footer p {
    margin-bottom: 15px !important;
}